#show-place {
  display: none;
}

.list-place {
  cursor: pointer;
  color: #0088cc;
  font-size: 50px;
}

.list-place:hover {
  text-decoration: underline;
}
body {
  background-color: rgba(0, 0, 0, 0.1);
}
